---
#Front matter comment to ensure Jekyll properly reads file.
---

// Imports
@import "base";

* {
  font-family: 'Poppins', sans-serif;
}

.logo {
  background: url(../img/statuspage.svg);
  background-size: cover;
  width: 23px;
  height: 23px;
}

.state-icon {
  width: 64px;
  height: 64px;
  filter: invert(1);
}

.more-icon {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.flex {
  display: flex;
  align-items: center;
}

.scheduled-text {
  display: flex;
  justify-content: space-between;
}

.scheduled-title {
  font-size: 18px;
  font-weight: 600;
  margin: -0.2rem 0;
  display: block;
}

.scheduled-title a:hover {
  color: antiquewhite;
}


.scheduled-date a:hover {
  color: antiquewhite;
}

.scheduled-date a {
  font-size: 17px;
  font-weight: 100;
  font-family: Open Sans, sans-serif;
}

.learn-more-text {
  font-size: 14px;
  font-weight: 600;

  :hover {
    color: bisque;
  }
}

.tags-work-state {
  padding: 0 1rem;
}

.index-system {
  border-bottom: 1px solid $gray;
  padding: 1rem 0;
}

.small-icon {
  width: 24px;
  height: 24px;
}

.calendar-icon {
  width: 36px;
  height: 36px;
  padding: 0 1% 0 0;
  background: white;
}

.index-heading {
  a {
    text-decoration: none;
    color: black;
    vertical-align: top;
  }
}

.timeline-padding {
  padding: 50px 0 0 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0 0 0 5px;

  input {
    visibility: collapse;
  }
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $degradation;
}

input:focus + .slider {
  box-shadow: 0 0 1px $degradation;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.copyright-icon {
  width: 20px;
  height: 20px;
  filter: opacity(0.3);
}

.all-rights {
  display: flex;
  align-items: center;

  a {
    font-size: small;
    text-decoration: none;
    color: $gray;
    padding: 0 0.2rem;
  }

  a:hover {
    color: darkgray;
  }

}

.button-view-full-archive {
  padding: 13px 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid $gray;
  cursor: pointer;
  color: $gray;

  &:hover {
    border-color: $degradation;
    color: $degradation;
  }

  &:focus {
    outline: none;
  }

}

.incidents-margin {
  margin: 5vw;
}

.incident-padding {
  padding: 8% 4% 0 0;
}

.view-archive {
  display: flex;
  align-items: center;

  button {
    background-image: url('../img/read more.svg');
    background-size: cover;
    width: 24px;
    height: 24px;
    background-color: white;
    border: none;

    &:focus {
      outline: white auto 1px;;
    }
  }

  &:hover {
    a:before {
      left: 0;
      width: 100%;
    }
  }

  a {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;
  }

  a:before {
    background-color: #f5912c;
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 3px;
    transition: all .3s;
  }
}

.view-archive-padding {
  padding: 0 0 3.5rem 1.5rem;
}

.timelineDate {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 0 0 0.5rem 0;
}

.noIncidentThisDay {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.button-view-padding {
  padding: 0 0 6% 0;
}

.timelineDay {
  position: relative;
  border-left: 1px solid $gray;


  &::before {
    width: 35px;
    height: 35px;
    display: block;
    top: 45px;
    position: absolute;
    left: -18px;
    content: url("../img/calendar.svg");
    background-color: white;
  }

  &:last-child {
    padding: 0 0 5% 0;
  }
}

.timelineDayIncidents {
  position: relative;
  border-left: 1px solid $gray;


  &::before {
    width: 35px;
    height: 35px;
    display: block;
    top: -4px;
    position: absolute;
    left: -18px;
    content: url("../img/history.svg");
    background-color: white;
  }


}

.past-incidents {
  padding: 0 0 3.5rem 1.5rem
}

.statusPopup::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  color: white;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.statusPopup {
  box-shadow: 0 0 2px 0 #898989;
  margin: 2rem;

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 0 0 0.2rem 0;
  }
}


.label {
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 600;
  background-color: $outage;
  padding: 2px 12px;
  text-transform: uppercase;
  color: white;
  border-radius: 50px;
  margin: 0 1rem 0 0;
}

.incident.degradation {
  .label {
    background-color: $degradation;
  }
}

.hours, .minutes {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0 5px 0 0;

}

.status {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0 0 1rem 0;
}

.statusImage {
  background-image: url(../img/green.png);
  width: 100%;
  height: 22vw;
  max-height: 300px;
  background-repeat: round;
}

.site-title {
  padding: 0 0 0 0.7rem;

  a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
}

.post-description-title a {
  text-decoration: none;
  color: black;

  &:hover {
    color: $degradation;
  }
}

.post-description-title:before {
  content: "i";
  cursor: pointer;
  font-family: sans-serif;
  display: inline-block;
  border-radius: 34px;
  font-size: 12px;
  padding: 3px;
  height: 11px;
  line-height: 11px;
  width: 11px;
  text-align: center;
  background: white;
  color: #f5912c;
  vertical-align: middle;
  border: 1.5px solid #f5912c;
  margin-top: -3px;
  margin-right: 4px;
}

.post-description-title.normal {
  &:before {
    color: $normal;
    border: 1.5px solid $normal;
  }

  a:hover {
    color: $normal;
  }
}

.post-description-title.outage {
  &:before {
    color: $outage;
    border: 1.5px solid $outage;
  }

  a:hover {
    color: $outage;
  }
}

.post-description-title.degradation {
  &:before {
    color: $degradation;
    border: 1.5px solid $degradation;
  }

  a:hover {
    color: $degradation;
  }
}

.post-description-icon {
  padding: 0 0.3rem 0 0;
}

.post-description-icon:before {
  content: "i";
  cursor: pointer;
  font-family: sans-serif;
  display: inline-block;
  border-radius: 34px;
  font-size: 12px;
  padding: 3px;
  height: 11px;
  line-height: 11px;
  width: 11px;
  text-align: center;
  background: white;
  color: $degradation;
  vertical-align: middle;
  border: 1.5px solid $degradation;
}

.post-resolved {
  margin: 0.5rem 0 0.5rem 0;

  span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 800;
  }
}


.incident-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incident-detail-title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0 15px;
  text-align: center;
}

.rss-icon {
  width: 23px;
  height: 23px;
  padding: 6% 0;
  background-image: url(../img/rss.svg);
  background-repeat: no-repeat;
}

.outage-image {
  display: flex;
}

.outage-icon {
  width: 4rem;
  height: 4rem;
  background-image: url(../img/outage.svg);
  filter: invert(50);
  background-repeat: no-repeat;

}

.degradation-icon {
  width: 4rem;
  height: 4rem;
  background-image: url(../img/warning.svg);
  filter: invert(50);
  background-repeat: no-repeat;

}

.ok-icon {
  width: 4rem;
  height: 4rem;
  background-image: url(../img/ok.svg);
  filter: invert(50);
  background-repeat: no-repeat;

}

.post-description {
  padding: 0 0 1rem 0;
}

.archive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-archive {
  padding: 0 0 3rem 0;
}

.date-archive {
  color: $gray;
  padding: 0 0 0.5rem 0;
}

.post-detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 1rem 0;
  text-align: -webkit-center;
}

.post-detail-resolved {
  display: flex;
  justify-content: center;
  padding: 0 0 4rem 0;
  text-align: -webkit-center;

  span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 800;
  }

}

.post-detail-description {
  padding: 0 0 4rem 0;
}

.content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.back-to-list-archive {
  display: flex;
  flex-direction: row-reverse;
}

.back-to-list-archive.view-archive {
  padding: 0;
}


